.breadcrumb {
  span {
    font-size: 1.1em;
  }
  margin-bottom: 1em;
}

ul.primary {
  li {
    a:hover {
      border-color: #ffffff;
    }
    &.active {
      a {
        border-color: #008fdc;
      }
      a:hover {
        border-bottom: 4px solid #ffffff;
      }
    }
  }
}

.tabs.primary {
  margin: 1em 0 1em 0;
  padding: 0;
}

.form-wrapper,
.container-inline {
  margin-bottom: 2em;
}

.form-wrapper .fieldset-wrapper
.container-inline .fieldset-wrapper {
  padding: 2em 2em 0em 2em;
}

div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset {
  padding: 2.5em 1.5em;
}
