/* =============================================================================
   Exposed filter
   ========================================================================== */

.exposed-filters .form-item {
  float: left; /* LTR */
  line-height:3.2em;
  margin-right: 10px;
}
.exposed-filters .form-item label {
  float: left; /* LTR */
  font-weight: normal;
  margin-right: 0.25em;
  width: inherit;
  padding: 0 5px 0 0;
}
.exposed-filters .filters {
  float:none;
  margin-right:0;
  width:100%;
}
.exposed-filters .current-filters ul, .exposed-filters .block ul, .exposed-filters .item-list ul {
  margin: 0;
}
div.exposed-filters div#edit-actions {
  float:none;
}
div.exposed-filters div#edit-actions input.form-submit, div#edit-actions a.button {
  margin:5px 10px 0 0;
  width:auto;
}
div.exposed-filters .container-inline .form-actions, .container-inline.form-actions {
  margin:10px 10px 15px 0;
}
.exposed-filters .additional-filters {
  padding:5px 0 0 0;
  margin-right: 0.2em;
}
.exposed-filters .form-select {
  margin:.5em 0 1em;
}
.exposed-filters .form-item label { /*forces inlline form element labels to align center vertically to the form element*/
  font-size:1em;
  line-height:3.2em;
}
.container-inline  {
  border:none;
}
.container-inline div, .container-inline label {
  margin:0 5px 0 0;
}
fieldset {
  border: 1px solid #ddd;
  margin: 0 0 1em;
  padding: 0 1em;
}
summary:focus {
  outline:0px solid transparent; /*hides browser focus border on this element since it contains no user action. Should not effect a11y.*/
}
summary {
  background:url("../../misc/menu-expanded.png") no-repeat scroll 0 100% #eee;
  height:2em;
  border:0px solid transparent;
  padding:0 10px;;
  background:#f5f5f5;
  border-radius:4px 4px 0 0;
  line-height:2em;
}
summary::-webkit-details-marker {
  display: none;
}
.collapse-processed > summary:before {
  background-position:0 70%;
  height: 1.6em;
  width: 1em;
}
.collapse-processed > summary {
  padding-left: 0.75em;
  padding-right: 0.75em;
}
details {
  border:0px solid transparent;
}
details > .details-wrapper,
.container-inline .details-wrapper {
  padding:10px;
  border:solid #eee;
  border-width:0px 1px 1px 1px;
  margin:0 0 1em;
}
.machine-name-label {
  margin-left:10px;
}
