/* =============================================================================
   Page
   ========================================================================== */

#content {
  clear:left;
  background-color:#fff;
  padding:35px 30px 0;
  border:1px solid #dddddd;
  -moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.03);
  -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.03);
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.03);
}
#page {
  color:#333;
  margin:1em 30px;
  position:relative;
  padding:40px 0 40px 0;
}
/**
 * Action links
 */
.actions {
  position:relative;
}
ul.action-links {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding:0 0 1em;
}
ul.action-links li {
  display:inline;
  float:left;
  margin:0 0.5em 0 0;
}
ul.action-links .button {
  font-family:'Source Sans', Lucida Sans Unicode, Lucida Grande, Segoe UI, sans-serif;
  font-size:1.1em;
  font-weight:bold;
  text-align:center;
  line-height:2.2em;
  color:#fff;
  background-image:-webkit-linear-gradient(rgb(78,159,234) 0%,rgb(65,126,210) 100%);
  background-image:-ms-linear-gradient(rgb(78,159,234) 0%,rgb(65,126,210) 100%);
  background-image:linear-gradient(rgb(78,159,234) 0%,rgb(65,126,210) 100%);
  border:0px solid transparent;
  border-radius:4px;
  cursor:pointer;
  height:2.2em;
  margin-right:0.5em; /* LTR */
  padding:0 17px;
}
/**
 * Secondary links
 */
#secondary-links ul.links li {
  padding:0 10px 10px 0; /* LTR */
}
#secondary-links ul.links li a {
  font-size:0.923em;
  color:#fff;
  text-align:center;
  padding:5px;
  overflow:hidden;
}
#secondary-links ul.links li a:hover {
  background:#999;
}
ul.links li,
ul.inline li {
  padding-right:1em; /* LTR */
}
ul.inline li {
  display:inline;
}
#secondary-links ul.links li.active-trail a,
#secondary-links ul.links li a.active {
  background:#333;
}
