/* =============================================================================
   Ember
   ========================================================================== */

.ctools-content {
  ul {
    padding-left: 0px;
  }
}

.views-exposed-form {
  .views-exposed-widget {
    overflow: hidden;
  }
}

ul {
  &.action-links {
    padding-left: 0px;
  }
}

.features-export-component {
  .fieldset-legend {
    margin-left: 0.5em;
  }
}

.form-item-name,
.form-item-uid {
  .description {
    display: none;
  }
}

#block-system-main {
  .fieldset-wrapper {
    .form-item-filters-per-page,
    .form-item-filters-types {
      overflow: hidden;
    }
  }
}

fieldset {
  &.collapsible {
    .fieldset-legend {
      &:before {
        [dir="ltr"] & {
          float: left;
          margin-left: -1.2em;
          border-color: transparent #008fdc #008fdc transparent;
        }
        [dir="rtl"] & {
          float: right;
          margin-right: -1.2em;
          border-color: transparent transparent #008fdc #008fdc;
        }
      }
    }
  }
}

.page-admin-structure-views {
  .ui-widget-overlay {
    position: fixed;
  }
}

.drag .tabledrag-handle, .tabledrag-handle:hover, .tabledrag-handle:active, .tabledrag-handle:focus {
  color: #008fdc;
}

.views-ui-dialog #edit-selected {
  display: block;
  position: relative;
  padding: 0px 16px 30px 30px;
}

.views-ui-dialog .scroll {
  padding: 0em 2em 3em;
}

.views-ui-dialog #views-filterable-options-controls {
  padding-top: 0px;
}

#views-ui-preview-form > div > div#preview-submit-wrapper {
  margin: 0em .5em 0 0;
}
