/* =============================================================================
   Dropbutton
   ========================================================================== */

.js .dropbutton-widget {
  background:#f5f5f5;
  border:0px solid transparent;
  border-radius:4px;
  -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
  box-shadow:0px 1px 2px rgba(0,0,0,0.3);
}
.dropbutton-widget .dropbutton {
  line-height:1.8em;
}
.js .dropbutton-widget a {
  color:#555;
}
.js .dropbutton-widget a:hover {
  color:#000;
}
.dropbutton-multiple .dropbutton {
  border-right:1px solid #ddd;
}
.dropbutton-toggle button {
  background:none;
}
.dropbutton .secondary-action {
  border-top:1px solid #ddd;
}
tr.selected > .dropbutton-widget {
  background:#fff;
}
