/* =============================================================================
   Panels
   ========================================================================== */

.dashboard-content {
  padding:0;
}
.dashboard-entry .dashboard-link {
  font-size:120%;
  font-weight:normal;
}
.ctools-button-processed {
  border:0;
}
.dashboard-block {
  border-bottom:none;
  margin-bottom:0;
  padding-bottom:0;
}
.panels-dashboard .links {
  margin-top:5px;
}
div.dashboard-block { /* panels dashboard, not dashboard */
  -moz-box-shadow:0 0 3px 3px rgba(0,0,0,0.03);
  -webkit-box-shadow:0 0 3px 3px rgba(0,0,0,0.03);
  box-shadow:0 0 3px 3px rgba(0,0,0,0.03);
  padding: 1px 10px 10px;
  background: #ffffff;
  border:1px solid #ddd;
  margin-bottom: 20px;
}
