/* =============================================================================
   Media
   ========================================================================== */

.media-browser-tab {
  padding: 1.5em;
}

#media-browser-tabset ul.tabs.primary li a:link {
 color: #FFF;
}

#media-browser-tabset #media-tabs-wrapper ul.tabs.primary li a{
  background-color: #008fdc;
}

#media-browser-tabset #media-tabs-wrapper ul.tabs.primary li a:hover{
  background-color: #FFF;
  color: #000;
}

#media-browser-tabset #branding {
  background-color: #000;
  padding-bottom: 0.5em;
  h1 {
    height: auto;
  }
}
