/* =============================================================================
   Views
   ========================================================================== */

.views-displays .secondary .active a, .views-displays .secondary .active a:hover {
  border-color: #008fdc;
}

.views-ui-display-tab-actions .ctools-button-processed input {
  color: #008fdc;
}

.views-ui-dialog #views-ajax-title {
  background: #2fa6e5;
}

.views-ui-dialog .form-wrapper .collapsed {
  height: auto;
}
